.tabla{
    width: 100%;
}
th{
    width: 20%;
    border-bottom: 1px solid#000;
    border-right: 1px solid#000;
    background: #c3c3c3;
}
td{
    vertical-align: top;
    border-right: 1px solid#000;
    border-bottom: 1px solid#000;
    text-align: center;
    padding: 0.5em;
}

.add{
    background-image: url("CarpetaIcono1.png");
    width: 32px;
    height: 30px;
    border: 0px;
}
.add1{
    background-image:url("UsuariosIcono3.png") ;
    width: 28px;
    height: 30px;
    border: 0px;
}
.add2{
    background-image: url("LapizIcono.png");
    width: 28px;
    height: 30px;
    border: 0px;
}
.add3{
    background-image: url("EliminarIcono.png");
    width: 28px;
    height: 30px;
    border: 0px;
}
